/** Bacground */
$degraded_background_top: #6C5AAF;
$degraded_background_bottom: #332A7D;

/** ASIDE */
$degraded_aside_top:#2A2276;
$degraded_aside_bottom:#53459A;

/** CHAT */
$whiter_cream: #F3F3F4;
$white: #FFFF;
$porpuple: #5149FF;
$gray: #8D8EA1;
$color_font: #0B0D25;


$font: "Rubik", sans-serif

